img {
	max-width: 280px;
}

#background {
	position: absolute;
	background: url(../img/bg1.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: left 100;

	height: 80%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
}

#footer {
	position: absolute;
	background-color: #303030;
	height: 3.3em;
	padding-top: 1em;
	width: 100%;
	color: #fff;
	text-align: center;
	bottom: 0;
}

#footer ul {
	list-style: none;
}

#footer ul li {
	display: inline;
	margin-right: 1em;
}

#content {
	position: absolute;
	top: 80%;
	width: 100%;
	min-height: 20%;
	background-color: #fff;
	padding-bottom: 3em;
}
#content_gr {
}

.gr_top {
	position: absolute;
	width: 100%;
	height: 10px;
	background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	margin-top: -10px;
}

.gr_bot {
	position: absolute;
	width: 100%;
	height: 10px;
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	margin-bottom: -10px;
}

#navWrapper {
	position: absolute;
	left: 0;
	overflow: hidden;
	word-break: keep-all;

	bottom: calc(-3em - 37pt);
	padding: 1.5em;
	padding-right: 30px;
	background: rgba(0,0,0,0.7);
}

.navTitle {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 35pt;
	margin: 0;
	white-space: nowrap;
}

#ulNav {
}

.currentPage {
	
}

#ulNav li {
	float: left;
	font-family: 'Raleway', sans-serif;
	font-size: 32pt;
	margin-left: 0.6em;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

#ulNav a {
	color: #fff;
	text-decoration: none;
}

#ulNav a:hover {
	text-decoration: underline;
}

.pNav {
	font-family: 'Damion', cursive;
}

.visible-small {
	display: none !important;
}

.liNav-small {
	clear: both;
}

#content_wrap {
	margin-top: 30px;
}

.author {
	font-size: 90%;
	margin-bottom: 0;
}


/* Modified bootstrap */
@media (max-width: 1190px) {
  .hidden-medium {
    display: none !important;
  }

  .liNav-medium {
  	font-size: 29pt !important;
  }

  .navTitle {
  	font-size: 27pt !important;
  }

  #navWrapper {
  }
}

@media (max-width: 820px) {
  .hidden-small {
    display: none !important;
  }

  #navWrapper {
/*  	padding: 10px; */
  	width: 100% !important;
  	/*height: calc(13em + 44pt + 1%) !important;*/
  	bottom: 0 !important;
  }

  .liNav-small {
	clear: both;
    display: inline-block !important;
  	font-size: 27pt !important;
  }

  #navcut {
  	height: 100% !important;
  }

  .navTitle {
  	font-size: 20pt !important;
  }
}